{{#extends "base"}}
{{#block "content"}}
<h1>Regions & Currenncies</h1>
<table class="table">
    currency_name, alpha2,CallingCodes, alpha3, ioc, symbol
    region_name, country_iso2 
    <tr>
        <th>Region Name</th>
        <th>Currency Name</th>
        <th>ISO2 Name</th>
        <th>ISO3 Name</th>

        <th>Currency Symbol</th>
        <th>Action</th>
    </tr>


    {{#each currenciesRegions}}
    <tr>
        
        <td>{{this.region_name}}
        </td>
        <td>{{this.currency_name}}
        </td>
        <td>{{this.alpha2}}
        </td>
        <td>{{this.alpha3}}
        </td>
        <td>{{this.symbol}}
        </td>

        <td><a href="/currenciesRegions/{{currency_id}}/edit">Edit</a>
            <a href="/currenciesRegions/{{currency_id}}/delete">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
