{{#extends "base"}}
{{#block "content"}}
<h1>Currencies</h1>
<table class="table">
    currency_name, alpha2,CallingCodes, alpha3, ioc, symbol
    <p></p>
    country_name, alpha2, alpha3, CallingCodes, lat, lng
    <p></p>
    
    <tr>
        <th>Country Name</th>
        <th>ISO2 Name</th>
        <th>ISO3 Name</th>
        <th>Currency Symbol</th>
        <th>Latitude</th>
        <th>Longitude</th>
        
        <th>Action</th>
    </tr>

    {{#each currenciesLatlngs}}
    <tr>
        <td>{{NAME}}
        </td>
        <td>{{ISO2}}
        </td>
        <td>{{ISO3}}
        </td>
        <td>{{SYMBOL}}
        </td>
        <td>
            {{Lat2 }}
        </td>
        <td>
            {{Lng2}}
        </td>
        <td><a href="/currencies/{{ID}}/edit">Edt</a>
            <a href="/currencies/{{ID}}/delete">Del</a>
            <a href="/currencies/{{ID}}/map">Map</a>
            
        </td>
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
