{{#extends "base"}}
{{#block "content"}}
<h1>Countries Latitude and Longitude</h1>
    <div id="CurrencyTable" class="mb-3">
        <label>Country</label>
        <select name="Latlng_id" class="form-control">
            {{#each latlngs}}
                <option value="{{Latlng_id}}"
                    {{#eq this.Latlng_id ../customer.company_id}}selected{{/eq}}>
                    {{country_name}}
                </option>
            {{/each}}
        </select>

    </div>
        <select name="company_id" class="form-control">
            {{#each companies}}
                <option value="{{this.company_id}}" 
                    {{#eq this.company_id ../customer.company_id}}selected{{/eq}}>
                    {{this.name}}
                </option>
            {{/each}}
        </select>
<table id="CurrencyTable" class="table">
    <!--
        INSERT INTO Latlng (country_name, alpha2, alpha3, CallingCodes, lat, lng) VALUES
    -->
    
    <tr>
        <th>Country Name</th>
        <th>ISO2 Name</th>
        <th>ISO3 Name</th>
        <th>Calling Code</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Load Map</th>
    </tr>

    {{#each latlngs}}
    <tr>
        <td>{{this.country_name}}
        </td>
        <td>{{this.alpha2}}
        </td>
        <td>{{this.alpha3}}
        </td>
        <td>{{this.CallingCodes}}
        </td>
        <td>{{this.lat}}
        </td>
        <td>{{this.lng}}
        </td>
        <td>
        <a href="/currencies/{{Latlng_id}}/MapLoad">Map Load</a>
        </td>
        
    </tr>
    {{/each}}
</table>
{{/block}}
{{/extends}}
